.toggler-icon {
  user-select: contain;
}

.calc-container {
  height: auto;
  width: 290px;
  display: grid;
  place-items: center;
}
 .calculator {
  position: relative;
  height: auto;
  width: 100%;
  padding: 5px;
}

.calc-container .theme-toggler  {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  margin: 0;
  color: #7e879c;
  cursor: pointer;
  z-index: 1;
  background-color: #f3f4f3;
  border-radius: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='%23888c92' d='M12 21q-3.775 0-6.388-2.613T3 12q0-3.45 2.25-5.988T11 3.05q.625-.075.975.45t-.025 1.1q-.425.65-.638 1.375T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q.775 0 1.538-.225t1.362-.625q.525-.35 1.075-.037t.475.987q-.35 3.45-2.937 5.725T12 21Zm0-2q2.2 0 3.95-1.213t2.55-3.162q-.5.125-1 .2t-1 .075q-3.075 0-5.238-2.163T9.1 7.5q0-.5.075-1t.2-1q-1.95.8-3.163 2.55T5 12q0 2.9 2.05 4.95T12 19Zm-.25-6.75Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 27px 27px;
  opacity: 0.7;
}

.calc-container .theme-toggler.active {
  color: #333;
  background-color: transparent;
  background-color: #1b2b32;
  background-size: 24px 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M12 5q-.425 0-.713-.288T11 4V2q0-.425.288-.713T12 1q.425 0 .713.288T13 2v2q0 .425-.288.713T12 5Zm4.95 2.05q-.275-.275-.275-.687t.275-.713l1.4-1.425q.3-.3.712-.3t.713.3q.275.275.275.7t-.275.7L18.35 7.05q-.275.275-.7.275t-.7-.275ZM20 13q-.425 0-.713-.288T19 12q0-.425.288-.713T20 11h2q.425 0 .713.288T23 12q0 .425-.288.713T22 13h-2Zm-8 10q-.425 0-.713-.288T11 22v-2q0-.425.288-.713T12 19q.425 0 .713.288T13 20v2q0 .425-.288.713T12 23ZM5.65 7.05l-1.425-1.4q-.3-.3-.3-.725t.3-.7q.275-.275.7-.275t.7.275L7.05 5.65q.275.275.275.7t-.275.7q-.3.275-.7.275t-.7-.275Zm12.7 12.725l-1.4-1.425q-.275-.3-.275-.713t.275-.687q.275-.275.688-.275t.712.275l1.425 1.4q.3.275.288.7t-.288.725q-.3.3-.725.3t-.7-.3ZM2 13q-.425 0-.713-.288T1 12q0-.425.288-.713T2 11h2q.425 0 .713.288T5 12q0 .425-.288.713T4 13H2Zm2.225 6.775q-.275-.275-.275-.7t.275-.7L5.65 16.95q.275-.275.687-.275t.713.275q.3.3.3.713t-.3.712l-1.4 1.4q-.3.3-.725.3t-.7-.3ZM12 18q-2.5 0-4.25-1.75T6 12q0-2.5 1.75-4.25T12 6q2.5 0 4.25 1.75T18 12q0 2.5-1.75 4.25T12 18Zm0-2q1.65 0 2.825-1.175T16 12q0-1.65-1.175-2.825T12 8q-1.65 0-2.825 1.175T8 12q0 1.65 1.175 2.825T12 16Zm0-4Z'/%3E%3C/svg%3E");
}

#display {
  margin: 0;
  height: 2.5rem;
  width: 100%;
  max-width: 290px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2.8rem;
  line-height: 2.5rem;
  text-align: right;
  overflow-x: scroll;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  border: none;
}

.calc-container button {
  display: block;
  height: 50px;
  width: 60px;
  border: 0;
  border-radius: 10px;
  margin: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 100ms ease, border 30ms ease;
  user-select: none;
  border: 2px solid transparent;
  opacity: 0.9;
  line-height: 100%;
}

button:hover {
  opacity: 1;
}

.calc-container section,
.btn-section__row {
  display: flex;
}

button:active {
  transform: translateY(2px) scale(0.98);
}

button.calc-container .theme-toggler :hover {
  border-color: transparent;
}

button[data-action="result"] {
  height: 109px;
}

/* light theme */
.calculator {
  background-color: #fbfefb;
}

.calculator #display {
  color: #0a1e23;
}

.calculator button[data-action="clear"] {
  background-color: #db7f8e;
  color: #ffdbda;
}

.calculator button.btn-number {
  background-color: #3d7589;
  color: #ffffff;
}

.calculator button.btn-operator {
  background-color: #a6b0ca;
  color: #ffffff;
}

.calculator button[data-action="result"] {
  background-color: #7e3619;
  color: #ffffff;
}

/* dark theme */
.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafd;
}

.calculator.dark button[data-action="clear"] {
  background-color: #785964;
  color: #d5c7bc;
}

.calculator.dark button.btn-number {
  background-color: #3a606e;
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: #afbfc0;
  color: #4e8098;
}

.calculator button.btn-operator {
  font-size: 2.1rem;
}

.calculator button.btn-operator[data-action="backspace"],
.calculator button.btn-operator[data-action="clear"] {
  font-size: 1.7rem;
  background-color: #d7dee6;
  color: #4e7498;
  border-radius: 50px;
}



.calculator.dark button[data-action="result"] {
  background-color: #566246;
  color: #fff;
}

button[data-action="result"] {
  font-size: 2.4rem;
}

.calc-container .group {
  flex: 0 0 auto;
}

.btn-section {
  display: flex;
  justify-content: start;
  align-items: start;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-screen {
  position: relative;
  padding: 70px 10px 10px;
}

.calc-container nav {
  position: absolute;
  top: 14px;
  left: 14px;
  display: flex;
}

.calc-container a.version {
  display: block;
  padding: 3px 5px;
  margin: 0 5px 0 0;
  color: #888c92;
  background-color: #f3f4f3;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1000;
}

.dark a.version {
  color: #888c92;
  background-color: #1b2b32;
}