
body,
html,
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body,
html {
  overflow-x: hidden;
}

html {
  --bg-blur: 10px;
  --bg-brightness: 0.45;
  --clock-size-multiplier: 40;
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

#background_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;right: 0;bottom: 0;
  z-index: -1;
}

#background_overlay.no_tab_activity img {
  filter: none!important;
  display: none;
}

#background_overlay.hidden {
  display: none;
}

@keyframes appear_background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#background_overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:  blur(var(--bg-blur)) brightness(var(--bg-brightness));
  animation: appear_background 300ms ease;
}

#background {
  width: 110%;
  height: 110%;
  margin: -5%;  
}

#btnsettings {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  transition: transform 300ms ease;
  border-radius: 50px;
  border: none;
  font-size: 0;
  background-color: transparent;
  z-index: 1000;
}

body.settings-opened #btnsettings {
  transform: rotate(45deg);
  background-color: #1e2125;
}

body.settings-opened #btnsettings svg {
  opacity: 0.5;
}

html body #btnsettings:hover {
  background-color: rgba(230, 230, 230, 0.24);
  opacity: 1;
}

#btnsettings svg {
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
  pointer-events: none;
  user-select: none;
}

#btnsettings svg > * {
  pointer-events: none;
  user-select: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: 72vh;
  height: calc(72vh - 70px);
  width: 100vw;
  padding: 1em;
}

#time-element {
  display: flex;
  align-items: center;
  margin: 0.05em;
  font-size: 4rem;
  font-size: calc(var(--clock-size-multiplier, 40) * 0.1rem);
  font-weight: 300;
}

#time-element, 
#date-element {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, .25);
  font-weight: 300;
}

#date-element>span.hidden,
#time-element.hidden {
  display: none;
}

#time-element .seconds {
  min-width: 1.42em;
  margin: 0 -0.10em -0.1em 2px;
  font-size: 0.8em;
  line-height: inherit;
  
  color: #6d7176;
}

#time-element .seconds.hidden {
  display: none;
  min-width: 0px;
}

#time-element span {
  display: block;
}

#time-element .period {
  display: none;
  margin-left: 0.02em;
  opacity: 0.5;
}

#time-element .seconds.hidden + .period {
  margin-left: .12em;
  margin-right: 0;
}

#date-element {
  font-size: 1rem;
  margin: 0.2em;
}

#bgcredit_overlay {
position: fixed;
left: 4.2vh;
left: 4.2vmin;
bottom: 4.2vh;
bottom: 4.2vmin;
}

[data-toolbar="visible"] #bgcredit_overlay {
  left: 150px;
}

#bgcredit_overlay.hidden {
  display: none;
}

#bgcredit_overlay a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  font-size: 0.8rem;
}

#bgcredit_overlay a:hover {
  opacity: 0.8;
}



/* rateme anim */

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  20% {
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

#ext_show>div {
  animation: appear 1000ms ease;
}

#searchbar-element {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

min-height: 100px;
padding-top: 1rem;
}

#searchbar-element.hidden {
  display: none;
}

.searchbar_input {
  width: 550px;
  max-width: 90vw;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #4b4c4f;
  background-color: rgba(75, 76, 79, 0.6);
  font-size: 1.08rem;
  font-weight: 400;
  padding: 0 2rem 0 50px;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: auto 24px;
  background-position: 15px 50%;
}

.searchbar_input:focus {
  outline: 2px solid #a0a2a5;
}

#toolbar_bar {
  display: none;
}


[data-toolbar="visible"] #toolbar_bar {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgba(33,33,33, 0.6);
  border-radius: 50px;
}

#toolbar_bar button {
  width: 50px;
  height: 40px;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background-color: #393a3c;
}

#toolbar_bar svg {
  width: 70%;
  height: 70%;
  pointer-events: none;
  user-select: none;
}

#toolbar_bar button:hover {
  background-color: #525458;
}

#toolbar_bar button:nth-last-child(1) {
  margin-right: 0;
}

[data-draggable="true"] {
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  transform: translate(5px, 200px);

  border-radius: 10px;
  overflow: hidden;
}

[data-toolbar_passanim="true"] .draggable_content {
  transition: filter 300ms ease;
}

.draggable_content {
  opacity: 0;
  pointer-events: none;
}


[data-toolbar_calculator="visible"] .draggable_content.toolbar_calculator {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

[data-toolbar_notes="visible"] .draggable_content.toolbar_notes {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

