
body,
html,
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body,
html {
  overflow-x: hidden;
}

html {
  --bg-blur: 10px;
  --bg-brightness: 0.45;
}

body {
  margin: 0;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 0;
}

#background_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;right: 0;bottom: 0;
  z-index: -1;
}

#background_overlay.no_tab_activity img {
  filter: none!important;
  display: none;
}

#background_overlay.hidden {
  display: none;
}

#background_overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:  blur(var(--bg-blur)) brightness(var(--bg-brightness))
}

#background {
  width: 110%;
  height: 110%;
  margin: -5%;  
}

#btnsettings {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  transition: transform 300ms ease;
  border-radius: 50px;
  border: none;
  font-size: 0;
  background-color: transparent;
  z-index: 1000;
}

body.settings-opened #btnsettings {
  transform: rotate(45deg);
  background-color: #1e2125;
}

body.settings-opened #btnsettings svg {
  opacity: 0.5;
}

html body #btnsettings:hover {
  background-color: rgba(230, 230, 230, 0.24);
  opacity: 1;
}

#btnsettings svg {
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
  pointer-events: none;
  user-select: none;
}

#btnsettings svg > * {
  pointer-events: none;
  user-select: none;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: 80vh;
  height: calc(80vh - 70px);
  width: 100vw;
  padding: 1em;
}

#time-element {
  display: flex;
  margin: 0.05em;
  font-size: 4rem;
  font-weight: 300;
}

#time-element, 
#date-element {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, .25);
  font-weight: 300;
}

#date-element>span.hiden,
#time-element.hiden {
  display: none;
}

#time-element .seconds {
  min-width: 1.42em;
  margin-right: -0.32em;
}

#time-element .seconds.hidden {
  display: none;
  min-width: 0px;
}

#time-element span {
  display: block;
}

#time-element .period {
  display: none;
  margin-left: 0.02em;
  opacity: 0.5;
}

#time-element .seconds.hidden + .period {
  margin-left: .12em;
  margin-right: 0;
}

#date-element {
  font-size: 1rem;
  margin: 0.2em;
}

#bgcredit_overlay {
position: fixed;
left: 4.2vh;
left: 4.2vmin;
bottom: 4.2vh;
bottom: 4.2vmin;
}

#bgcredit_overlay.hidden {
  display: none;
}

#bgcredit_overlay a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  font-size: 0.8rem;
}

#bgcredit_overlay a:hover {
  opacity: 0.8;
}
